In [180]:
import pandas as pd
from sklearn import ensemble
from sklearn.ensemble import RandomForestClassifier

In [181]:
df  = pd.read_csv("/home/user/PycharmProjects/kaggle/venv/titanic/train.csv")

In [182]:
del_columns_list = ['PassengerId','Name','Ticket','Fare','Cabin']
for col in del_columns_list:
    del df[col]

In [183]:
avg = df['Age'].mean()
df['Age'].fillna(avg,inplace = True)

In [184]:

df = df.fillna(df['Embarked'].value_counts().index[0])

In [185]:
df = pd.get_dummies(df, columns=["Pclass",'Sex','Embarked'])
df_y = df.iloc[:,0]
df_X = df.iloc[:,1:]

In [186]:
clf =  ensemble.GradientBoostingClassifier()

In [187]:
clf.fit(df_X,df_y)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [188]:
test = pd.read_csv("/home/user/PycharmProjects/kaggle/venv/titanic/test.csv")

In [189]:

del_columns_list = ['Name','Ticket','Fare','Cabin']
for col in del_columns_list:
    del test[col]
avg = test['Age'].mean()
test['Age'].fillna(avg,inplace = True)
test = test.fillna(test['Embarked'].value_counts().index[0])

In [190]:
test = pd.get_dummies(test, columns=["Pclass",'Sex','Embarked'])
test.head()

,PassengerId,Age,SibSp,Parch,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,892,34.5,0,0,0,0,1,0,1,0,1,0
1,893,47.0,1,0,0,0,1,1,0,0,0,1
2,894,62.0,0,0,0,1,0,0,1,0,1,0
3,895,27.0,0,0,0,0,1,0,1,0,0,1
4,896,22.0,1,1,0,0,1,1,0,0,0,1

In [191]:
test_pred = clf.predict(test.iloc[:,1:])
len(test_pred)

418

In [192]:
test_pred =pd.DataFrame(test_pred, columns=['Survived'])

In [193]:
df_id = pd.DataFrame(test, columns = ['PassengerId'])
test.head(n=10)

,PassengerId,Age,SibSp,Parch,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,892,34.5,0,0,0,0,1,0,1,0,1,0
1,893,47.0,1,0,0,0,1,1,0,0,0,1
2,894,62.0,0,0,0,1,0,0,1,0,1,0
3,895,27.0,0,0,0,0,1,0,1,0,0,1
4,896,22.0,1,1,0,0,1,1,0,0,0,1
5,897,14.0,0,0,0,0,1,0,1,0,0,1
6,898,30.0,0,0,0,0,1,1,0,0,1,0
7,899,26.0,1,1,0,1,0,0,1,0,0,1
8,900,18.0,0,0,0,0,1,1,0,1,0,0
9,901,21.0,2,0,0,0,1,0,1,0,0,1

In [194]:
d_com = df_id.join(test_pred)

In [195]:
d_com.to_csv('/home/user/PycharmProjects/kaggle/venv/titanic/my_pred_gb.csv', sep=',',index=False, encoding='utf-8')